.content .MathJax {
    font-size: 100%!important;
    overflow-x: auto;
    overflow-y: hidden;
}

.content .katex {
    font-size: 100%!important;
    overflow-x: auto;
    overflow-y: hidden;
}

.content :last-child {
    margin-bottom: 0;
}

.content a {
    color: #ec028d;
    /* text-decoration: underline !important; */
}

.content a.footnote-ref::before {
    content: "[";
}

.content a.footnote-ref::after {
    content: "]";
}

.content blockquote,
.content div,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content pre,
.content ol,
.content table,
.content ul {
    margin-bottom: 1rem;
}

.content blockquote {
    border-left: #bf003f 3px solid;
    background-color: #f5f5f5;
    font-style: italic;
    padding: 1rem 0 1rem 2rem;
    margin: 1rem auto;
}

.content code {
    background-color: #F5F5F5;
    border-radius: .2rem;
    color: #AA0000;
    font-family: 't1xtt', 'Latin Modern Mono', 'Fangsong',  Courier, monospace;
    padding: 0 .2rem;
}

.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6 {
    line-height: 1.5;
    font-family: 'Latin Modern Roman';
    margin-top: 1.2rem;
}

.content h1 {
    font-size: 2rem;
}

.content h2 {
    font-size: 1.8rem;
}

.content h3 {
    font-size: 1.5rem;
}

.content h4 {
    font-size: 1.3rem;
}

.content h5 {
    font-size: 1.2rem;
}

.content h6 {
    font-size: 1.1rem;
}

.content img {
    display: block;
    max-width: 100%;
    margin: .5rem auto !important;
}

.content p {
    text-align: justify;
    font-size: 1rem;
}

.content pre {
    background-color: #F5F5F5; /* 由于使用代码样式 使得背景不起作用 */
    border-radius: .5rem;
    font-family: 't1xtt', 'Latin Modern Mono', 'Fangsong', Courier, monospace;
    margin-top: .5rem;
    overflow-x: auto;
    padding: .5rem;
}

/* 设置代码框背景 */
.content .highlight pre{
    background-color: #F5F5F5 !important;
}

.content pre code {
    padding: 0;
}

.content strong.chinese {
    font-weight: bold;
    /* text-emphasis-style: dot;
    text-emphasis-position: under;
    -webkit-text-emphasis-style: dot;
    -webkit-text-emphasis-position: under; */
}

.content em{
    color: #AA0000;
}

.content table {
    /* display: block; */
    /* text-align: center; */
    overflow-x: auto;
    width: 100%;
    /* 居中 */
    margin: 1rem auto !important;
}

.content td, .content th {
    border: #575C61 1px solid;
    padding: .1rem .5rem;
}

.content th {
    background-color: #575C61;
    color: #FAFAFA;
    text-align: center !important;
}

.content ol, .content ul {
    margin-left: 1.5rem;
}

.content ol li{
    margin: .5rem;
}

.content ul li{
    margin: .5rem;
}

.content mark {
    background-color: #e4a1a1;
}

.content hr{
    border: none;
    border-top: 2px solid #cbcbcb;
    margin: 1.5rem auto;
    width: 100%;
}


/* 标题自动编号 */
.content {
    counter-reset: h2;
}

.content h1 {
    counter-reset: h2;
}

.content h2{
    counter-reset: h3;
}

.content h3{
    counter-reset: h4;
}

.content h4{
    counter-reset: h5;
}

.content h5{
    counter-reset: h6;
}

.content h2:before {
    counter-increment: h2;
    content: counter(h2);
    margin-right: 1.2em;
}

.content h3:before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3);
    margin-right: 1.2em;
}

.content h4:before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4);
    margin-right: 1.2em;
}

.content h5:before {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
    margin-right: 1.2em;
}

.content h6:before {
    counter-increment: h6;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
    margin-right: 1.2em;
}