#main > .post + .post {
    margin-top: 2rem;
}

#main > .post > h2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
}

#main > .post > h2 > time {
    font-size: 1rem;
    font-weight: normal;
}

#main > .post > .content {
    padding-top: .5rem;
}

/* 主页文章序号颜色 */
#main > .post > h2 .order {
    color: var(--post-order);
}

@media screen and (min-width: 850px) {
    #main > .post > div {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 850px) {
    #main > .post > h2 > a {
        font-size: 1.1rem;
    }
    #main > .post > h2 .order {
        font-size: 1.1rem;
    }
    /* #main > .post > div {
        margin-left: 1.5rem;
    } */
}