:root {
  /* 明亮主题颜色 */
  /* common.css */
  --bg-color: #fafafa;  /* 背景色 */
  --text-color: #000;  /* 文字颜色 */
  --nav-link-color: #aa0000;  /* 导航链接颜色 */
  --scrollbar-bg: #fafafa;  /* 滚动条背景色 */
  --scrollbar-thumb: #aaa;  /* 滚动条滑块颜色 */
  --scrollbar-hover: #888;  /* 滚动条滑块悬停颜色 */
  --post-shodow: #ccc;  /* 文章边框阴影颜色 */
  --post-order: #aa0000;  /* 文章发布序号颜色 */
  /* content.css */
  --content-a: #ec028d;  /* 文章中链接颜色 */
  --blockquote-left: #bf003f;  /* 引用块左边框颜色 */
  --inline-code: #aa0000;  /* 行内代码颜色 */
  --hightlight-bg: #f5f5f5;  /* 代码块背景色 */
  --em-color: #aa0000;  /* 强调字体颜色 */
  --table-border: #575C61;  /* 表格边框颜色 */
  --table-header-bg: #575C61;  /* 表头背景色 */
  --table-header-color: #FAFAFA;  /* 表头字体颜色 */
  --mark-bg: #e4a1a1;   /* 高亮背景色 */
  --hr-color: #cbcbcb;    /* 分割线颜色 */
  /* single.css */
  --warning-bg: brown;  /* 警告块背景色 */
  --warning-color: white;  /* 警告块文字颜色 */
  --toc-bg: #eee;  /* 目录背景色 */
  --toc-border: black;  /* 目录边框颜色 */
  --main-targer-bg: azure;  /* 目标背景色 */
  --album-shadow-1: rgba(0, 0, 0, 0.4);  /* 相册阴影 */
  --album-shadow-2: rgba(255, 255, 255, 0.9);  /* 相册阴影 */
  --album-info: #555;  /* 相册底部信息颜色 */
  --cardlink-border: #eee;  /* 卡片链接边框颜色 */
  --cardlink-shadow: rgba(0, 0, 0, 0.15);  /* 卡片链接阴影 */
  --cardlink-hover-shadow1: rgba(0, 0, 0, 0.2);  /* 卡片链接悬停阴影1 */
  --cardlink-hover-shadow2: rgba(0, 0, 0, 0.1);  /* 卡片链接悬停阴影2 */
  --cardlink-after: linear-gradient(135deg, rgba(255,255,255,0.2), rgba(255,255,255,0));  /* 卡片链接渐变背景 */
  --cardlink-title: #333;  /* 卡片链接标题颜色 */
  --cardlink-title-hover: #000;  /* 卡片链接标题悬停颜色 */
  --cardlink-text: #666;  /* 卡片链接文本颜色 */
}

[data-theme="dark"] {
  /* 暗黑主题颜色 */
  /* common.css */
  --bg-color: #333;  /* 背景色 */
  --text-color: #fff;  /* 文字颜色 */
  --nav-link-color: #ff7f50;  /* 导航链接颜色 */
  --scrollbar-bg: #333;  /* 滚动条背景色 */
  --scrollbar-thumb: #555;  /* 滚动条滑块颜色 */
  --scrollbar-hover: #777;  /* 滚动条滑块悬停颜色 */
  --post-shodow: #555;  /* 文章边框阴影颜色 */
  --post-order: #ff7f50;  /* 文章发布序号颜色 */
  /* content.css */
  --content-a: #ff7f50;  /* 文章中链接颜色 */
  --blockquote-left: #ff7f50;  /* 引用块左边框颜色 */
  --inline-code: #ff7f50;  /* 行内代码颜色 */
  --hightlight-bg: #444;  /* 代码块背景色 */
  --em-color: #ff7f50;  /* 强调字体颜色 */
  --table-border: #575C61;  /* 表格边框颜色 */
  --table-header-bg: #575C61;  /* 表头背景色 */
  --table-header-color: #FAFAFA;  /* 表头字体颜色 */
  --mark-bg: #ff7f50;   /* 高亮背景色 */
  --hr-color: #cbcbcb;    /* 分割线颜色 */
  /* single.css */
  --warning-bg: #ff7f50;  /* 警告块背景色 */
  --warning-color: white;  /* 警告块文字颜色 */
  --toc-bg: #444;  /* 目录背景色 */
  --toc-border: #ff7f50;  /* 目录边框颜色 */
}